<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
          <h1>Sign In</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        
       
        <%= form_for :session, url: signin_path do |f| %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.submit 'Sign In', class: 'btn btn-primary' %>
                <p>Does not have an account yet?<%= link_to ' Sign Up here!', signup_path %></p>
              </div>
        <% end %>
    </div>
</div>